<a href="https://colab.research.google.com/github/sdycode/Python-Advance-Programming-Assignment/blob/main/Python_Advance_Programming_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. "12 + 24" or "23 - 21" or "12 // 12" or "12 * 21").

Here, we have 1 followed by a space, operator followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals "0" return -1.

For example:

"15 // 0"  ➞ -1

Examples

arithmetic_operation("12 + 12") ➞ 24 // 12 + 12 = 24

arithmetic_operation("12 - 12") ➞ 24 // 12 - 12 = 0

arithmetic_operation("12 * 12") ➞ 144 // 12 * 12 = 144

arithmetic_operation("12 // 0") ➞ -1 // 12 / 0 = -1

In [2]:
def arithmetic_operation(s):
  spl = s.split(' ')
  def add():
    return int(spl[0])+int(spl[2])
  def sub():
    return int(spl[0])-int(spl[2])
  def multi():
    return int(spl[0])*int(spl[2])
  def div():
    if(int(spl[2])  == 0):
      return -1
    else:
      return int(spl[0])//int(spl[2])

  switcher = {
        '+': add(),
        '-': sub(),
        '*':multi(),
        '//': div()
    }
  print(switcher.get(spl[1]))
  return switcher.get(spl[1])

arithmetic_operation("12 + 12")

arithmetic_operation("12 - 12") 

arithmetic_operation("12 * 12") 

arithmetic_operation("12 // 0")

24
0
144
-1

-1

--------------

2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [4]:
import math


def perimeter(l):
  l1 = getLength(l[0],l[1])
  l2 = getLength(l[0],l[2])
  l3 = getLength(l[1],l[2])
  return l1+l2+l3

def getLength(p,q):
  return math.sqrt( (p[0]-q[0])**2 + (p[1]-q[1])**2)


print(perimeter( [ [15, 7], [5, 22], [11, 1] ] ))
print(perimeter( [ [0, 0], [0, 1], [1, 0] ] ) )
print(perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ))

47.07918859608948
3.414213562373095
68.2842712474619

---

3.  A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second-most right column).

[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the height of the tallest skyscraper.

Examples

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 3

tallest_skyscraper([
  [0, 1, 0, 0],
  [0, 1, 0, 0],
  [0, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 4

tallest_skyscraper([
  [0, 0, 0, 0],
  [0, 0, 0, 0],
  [1, 1, 1, 0],
  [1, 1, 1, 1]
]) ➞ 2

In [6]:
def tallest_skyscraper(l):
  maxh  = len(l)
  for i in l:
    for j in i:
      if(j==1):
        return maxh
    maxh -=1

  return maxh

  

print(tallest_skyscraper([ [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ]) )
print(tallest_skyscraper([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ]) )
print(tallest_skyscraper([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ]))

3
4
2

---

4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

Days	                             Bonus
0 to 32 days	                   Zero
33 to 40 days	         SGD$325 per billable day
41 to 48 days	         SGD$550 per billable day
Greater than 48 days      SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [12]:
from sys import int_info
def bonus(days):
  bonusValue = 0
  if(days<=32):
    return 0
  if(days<=40):
    return (days-32)*325
  if(days<=48):
    return (8)*325+(days-40)*550
  if(days>48):
    return (8)*325+(8)*550+(days-48)*600


print(bonus(15))
print(bonus(37))
print(bonus(50))

0
1625
8200

-----

5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False
7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True
1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False
is_disarium(518) ➞ True
is_disarium(466) ➞ False
is_disarium(8) ➞ True

In [14]:
def is_disarium(n):
  s = str(n)
  sum =0
  for i in range(len(s)):
    sum += int(s[i])**(i+1)
  if(sum == n):
    return True
  else:
    return False

print(is_disarium(544))
print(is_disarium(518))
print(is_disarium(466))
print(is_disarium(8))

False
True
False
True